{% extends "base.html" %}

{% block content %}
<h1>Playlists</h1>

<form method="POST" action="/add_playlist">
    <input type="text" name="name" placeholder="Playlist name" required>

    <select name="genre_id" required>
        {% for genre in genres %}
            <option value="{{ genre[0] }}">{{ genre[1] }}</option>
        {% endfor %}
    </select>

    <button type="submit">Add</button>
</form>

<hr>

{% for playlist in playlists %}
    <div class="card">
        <h3>{{ playlist[1] }}</h3>
        <p>{{ playlist[2] }}</p>

        <a class="btn edit" href="/playlist/{{ playlist[0] }}">Open</a>
        <a class="btn delete" href="/delete_playlist/{{ playlist[0] }}">Delete</a>
    </div>
{% endfor %}


{% endblock %}